
.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    /* фоновый цвет */
    background: #00222B;
    z-index: 1001;
}

.preloader__image {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    width: 300px;
    height: 300px;
    margin-left: -150px;
    margin-top:-150px;
}

/*Убрать полосу прокрутки для всей страницы*/
::-webkit-scrollbar {
    width: 0;
}

.loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
}

.loaded .preloader {
    display: none;
}